@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@400;500;600&display=swap" rel="stylesheet');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: #282A3A !important; */
}

body {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important; */
  font-family: 'Shantell Sans', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f4f7;
  overflow-x: hidden;


}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  background-color: rgb(194, 163, 250);
}

.beautify {

  background-color: #222323;
  text-decoration: none;
  color: white !important;
  padding: 1.5rem 1.5rem;
  width: 60%;

  min-height: 80vh;
  margin: 80px 0;
  border-radius: 16px;
}

.dots {
  display: flex;
  gap: 5px;
  margin-bottom: 2rem;
}

.dot {
  width: 13px;
  height: 13px;
  border-radius: 50%;
}

.dot:nth-child(1) {
  background-color: red;
}

.dot:nth-child(2) {
  background-color: yellow;
}

.dot:nth-child(3) {
  background-color: green;
}



/**
 * prism.js Dark theme for JavaScript, CSS and HTML
 * Based on the slides of the talk “/Reg(exp){2}lained/”
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
  color: white;
  background: none;
  /* text-shadow: 0 -.1em .2em black; */
  font-size: 1.2em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

@media print {

  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

pre[class*="language-"],
:not(pre)>code[class*="language-"] {
  background: hsl(30, 20%, 25%);
}


/* Inline code */
:not(pre)>code[class*="language-"] {
  padding: .15em .2em .05em;
  border-radius: .3em;
  border: .13em solid hsl(30, 20%, 40%);
  box-shadow: 1px 1px .3em -.1em black inset;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: hsl(30, 20%, 50%);
}

.token.punctuation {
  opacity: .8;
}

.token.namespace {
  opacity: .8;
}


/* input tag */
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
  width: 100%;
  padding: 0 10px;
  border-radius: 5px;
  color: black;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.10);

}

.container input {
  width: 100%;
  min-width: 50%;
  border: none;
  outline: none;
  padding: 16px;
  font-weight: 600;
  color: rgb(98, 96, 96);
  padding-left: 10px;
}


.tag {
  display: flex;
  align-items: center;
  margin: 8px 0;
  margin-right: 10px;
  padding: 0 8px;
  padding-bottom: 4px;
  padding-right: 4px;
  font-size: 14px;
  border: 1.6px solid rgb(202, 205, 205);
  border-radius: 5px;
  border-color: rgb(230, 230, 230);
  background-color: rgb(240, 243, 243);

  white-space: nowrap;
  color: rgb(75, 74, 74);
  font-weight: 600;
}

.tags input::placeholder {
  font-size: 12px;

}

.tags {
  padding-left: 10px;
  background: white;
}

.tag button {
  display: flex;
  padding: 0px 9px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: rgb(238, 96, 96);
}




.createNote {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* max-width: 900px; */
  /* height: 90vh; */
  width: 99.9%;
  width: 100%;
  /* min-width: 100%; */
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
  background-color: #ffffff;
  background-color: #f2f4f7;
  /* box-shadow: -1px -1px 4px 1px rgba(0, 0, 0, 0.15); */


}

form {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: center;
  width: 100%;
  /* background-color: red; */
  /* padding: 20px; */

}

.input_images {
  /* width: 60%; */
  width: 100%;
  max-height: 220vh;
  /* height: 200px; */
  /* padding: 20px; */
  /* height:min(400px,800px); */
  /* background-color: #f7f7f7; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center;  */
  /* gap:  10px 30px; */
  /* gap:  2% 2%; */
  gap: 23px;
  flex-wrap: wrap;
  /* padding: 80px 0; */
  /* margin-bottom: 2rem; */
  margin-top: 2rem;
  /* background-color: #2D2424; */

}

.input_images p {
  color: #1397e9;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  user-select: none;
  padding-left: 1rem;
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 23px;
  flex-wrap: wrap;
  width: 100%;


}

.image {
  position: relative;
  /* width: 379px; */
  width: min(363px, 500px, 100%);
  height: 250px;
}

.image img {
  width: 100%;
  height: 100%;
  flex-shrink: 1;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.15);
  transition: all 0.3s;

}

.image img:hover {
  display: block;
  transform: scale(1.03);
}


.delete_image {
  position: absolute;
  top: -10%;
  right: -2%;
  font-weight: 600;
  font-size: 30px;
  color: red;
  cursor: pointer;
}

.add_icon {
  font-size: 26px;
  padding: 6px;
  font-size: 34px;
  cursor: pointer;
  color: #1397e9;
  transition: all 0.15s ease-in;
}

.add_icon:hover {
  background-color: rgb(214, 212, 212);
  background-color: white;
}


input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 4px 1px #aeaeafa1;
  outline: none;
  resize: none;

}

textarea {

  height: min(380px, 800px);
  width: 100%;
  font-size: 16px;
  padding: 30px 20px;
  border: none;
  border-top: 2px solid rgba(0, 0, 0, 0.15) !important;
  /* box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.15); */
  color: #393E46;
  outline: none;

  resize: none;

}

textarea:focus {
  outline: none;
}

input[type="file"] {
  margin: 10px 0;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #1397e9;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.inputTitle {
  display: flex;
  justify-content: space-between;
  vertical-align: top;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.inputTitle input {
  flex: 9;
  color: #393E46;
  font-size: 15px;

}

.inputTitle button {
  flex: 1;
  min-width: 150px;
  padding: 10px 10px;
  color: rgb(237, 237, 237);
  box-shadow: 0px 0px 4px 2px #aeaeafa1;


}

.tabs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  background-color: rgb(230, 230, 235);

}

.tab {
  display: flex;
  justify-content: flex-start;
  height: 35px;
  flex: 1;
  text-align: left;
  opacity: .8;
  color: #2e2c2b;
  color: #393E46;
}

.tab_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.tab_title {
  padding-right: 20%;
  padding-left: .8rem;
}

.icon {
  color: #1397e9;
  border-radius: 50%;
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
}

.restore_icon {
  color: green;
}

.delete_icon {
  color: rgb(249, 52, 52);
  /* color: white; */
}

.active_tab_div {
  background-color: transparent;
  position: relative;

}

.copy_icon {
  position: absolute;
  right: 2%;
  /* top: 50%; */
  color: #1397e9;
  cursor: pointer;
  margin-top: 1.2rem;
  font-size: 18px;
}

.copy_text {
  position: absolute;
  right: 5%;
  text-align: center;
  font-weight: 600;
  color: #1397e9;

  cursor: pointer;
  margin-top: 1.1rem;
  font-size: 14px;
  text-decoration: dotted;
  /* font-size: 18px; */
}


.tabs input {
  height: 100%;
  width: 100%;
  font-size: 14px;
  text-align: left;
  border: none;
  border-top-right-radius: 10px;
  font-weight: 600;
  outline: none;
  /* border: 1px solid gray; */
  box-shadow: 0px 1px 4px 0.5px #aeaeafa1;
  color: #1397e9;
  background-color: transparent;
  transform: scaleY(1.02);
}



.tabs input::selection {
  /* cursor: auto; */
  user-select: contain;
}

.active {
  background-color: white;

  border-top-right-radius: 16px;
  border-top-left-radius: 8px;
  box-shadow: 0 -2px 2px 0px #ccc;
  opacity: 1;
  font-weight: 600;

}




.scrollbar::-webkit-scrollbar {
  width: 6px;
}


.scrollbar::-webkit-scrollbar-thumb {
  background: #aeaeafa1;
  border-radius: 3px;
}

.note_container {
  width: 100%;
  margin: 20px 0;
  box-shadow: 0px 0px 4px 2px #aeaeafa1;
}


.home {
  width: 1200px;
  /* position: relative; */
}

.navbar {
  margin-top: 20px;
  max-width: 1200px;
  height: 80px;
  background-color: #079bda;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  border-radius: 12px;

  align-items: center;
  color: #434140;
  color: white;
  padding: 0 40px;
  transition: top 0.3s ease-in-out;
  user-select: none;

}


.navbarsticky {
  position: fixed;
  /* Change the position to fixed */
  width: 100%;
  top: 0;
  z-index: 1;
  margin-top: 0;
  max-width: 1182px;
  height: 70px;
  background-color: #3a98d2;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  align-items: center;
  color: #434140;
  color: white;
  padding: 0 40px;
  user-select: none;

}

.navbarsticky.sidebar {
  top: 30px;
}

.nav_links {
  display: flex;
  /* flex:2; */
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  font-size: 20px;
  font-weight: 800px;
  cursor: pointer;
}

.logo {
  font-size: 24px;
}

.nav_link {
  padding: 10px 10px;
}

.darkMode {
  font-size: 34px;
  padding-top: 5px;
  color: white;
}


.cards_container {
  position: relative;
  /* z-index: -1; */
  top: 2%;
  left: 29%;
  top: 20px;
  width: 71%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

}


.cards_row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* gap: 20px; */
  width: 100%;
  max-width: 1200px;
  padding: 30px 0px;

}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0;
  margin: 0 auto;
  justify-content: flex-start;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  gap: 100px 10px;
  /* box-Shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.13); */
}

.card {
  position: relative;
  width: 350px;
  min-height: 450px;
  padding: 10px 20px 10px 20px;
  gap: 10px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-Shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.13);
}



.card h3 {
  font-size: 18px;
  color: #434140;
  text-align: center;
  user-select: text;
  margin-bottom: 10px;
}

.snippet_detail .snippet_tag {
  margin-right: 10px;
  padding: 2px 6px;
  border-radius: 30px;
  border-radius: 6px;
  font-size: 12px;
  background-color: #ccc;
  color: white;
  color: #222323;
}


.favorite_icon {
  position: absolute;
  right: 12px;
  top: 12px;
  color: black;
  /* border: black; */
  /* color: red; */
  font-size: 22px;
}

.card img {
  width: 100%;
  height: 250px;
  border-radius: 6px;
  box-Shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
}



.card p {
  text-align: center;
  margin-bottom: 10px;
}

.bottom_links {
  /* position:relative; */
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tagList {
  width: 50%;
  /* background-color: red; */
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  text-decoration: none;
}

.tagList span {
  border: 1px solid #ccc;
  padding: 6px 9px;
  background-color: gainsboro;
  border-radius: 20px;
  font-size: 14px;
}

.edit-button {
  display: flex;
  justify-content: space-around;
  gap: 12px;
  align-items: center;
  vertical-align: middle;
  font-size: 20px;
  color: #1397e9;

}





.main {
  display: flex;
  /* position: relative; */
  /* position: relative; */

}

.sidebar {
  position: fixed;
  top: 100px;
  left: 11%;
  /* height: 100vh; */
  width: 23%;
  min-width: 230px;
  margin-left: -15px;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-left: 35px;
  padding-right: 40px;
  border: none;
  /* box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.15); */
}


.sidebar h3 {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;
  /* color: #023579; */
}

.sidebar h3 span {
  font-size: 100%;
  padding-top: 4px;
  cursor: pointer;
}

.folder_menu,
.tools {
  /* width: 250px; */
  width: 90%;
  border-radius: 16px;
  /* border-radius: 10px; */
  margin-bottom: 30px;
  padding: 20px 20px;
  user-select: none;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
}

.tools {
  min-height: 240px;
}

.folder_menu {
  min-height: 320px;

}

.folders {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
}


.folder {
  display: flex;
  align-items: center;
  width: 90%;
  /* gap: 8px; */
  margin-left: 10px;
  padding: 0px 9px;
  color: #1397e9;
}

.tool .folder {
  margin: 5px 0;
}

.folder p {
  position: relative;
  width: 100%;
  color: rgb(60, 59, 59);
  font-weight: 600;
  cursor: pointer;
  padding: 0px 4px;
  /* text-align: center; */
}

.folder p span {
  font-size: 16px;
  text-align: left;
  padding-right: 5px;
  vertical-align: middle;

}

.delete-menu {
  position: relative;
  left: 0%;
  font-size: 16px;
  background-color: #ccc;
  background-color: #dddcdc;
  border-radius: 50%;
  padding: 4px 6px;
  color: #1397e9;
  color: red;


  cursor: pointer;
}

/* .folder_del_icon {
  display: none;
  color: #ff0000;

} */

/* .folder p:hover {
  background-color: #9e9ea7;
} */

/*.folder p:hover{
  border-radius: 14px;
  transform: scale(1.02);
  background-color: #9dc6ff ;
  /* for dark  */
  /* background-color: #434242 ;
  background-color: #5B8FB9 ;
  color: white;
} */

.button {
  padding: 6px 12px;
  color: rgb(60, 59, 59);
  font-size: 14px;
  border-radius: 4px;
  background-color: #3a98d2;
  color: white;
  text-align: center;
}

.create-snippet {
  width: 100%;

}


.edit-snippet {
  width: 100%;

}

.link {
  color: inherit;
  /* color:white; */
  text-decoration: none;
}


.cards__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.active_folder p {
  border-radius: 14px;
  transform: scale(1.02);
  background-color: #1397e9;
  color: white;
  padding: 3px 9px;
  transition: all 0.15s;
  transform: translateX(-5px);
}

.active_folder-icon {
  color: white;
  transition: all 0.15s;
}

.active_folder .delete-menu {
  background-color: transparent;
}

.drag-target {
  border-radius: 14px;
  transform: scale(1.02);
  background-color: #1397e9;
  color: white !important;
  padding: 3px 9px;
  transition: all 0.15s;
  transform: translateX(-5px);
}



.search-box {
  width: 290px;
}

.search-box input {
  /* border: 1px solid rgb(222, 222, 226); */
  /* border-radius: 54px; */
  /* width: 100%; */
  padding: 16px;
  margin: 10px 0;
  box-sizing: border-box;
  font-size: 14px;
  outline: none;
  text-align: center;
  box-shadow: none;
  transition: all 0.15s ease-in;
  box-shadow: 2px 2px 4px 2px rgb(222, 222, 226);
}


.search-box input::placeholder {
  color: #3a98d2;
  font-weight: 600;
  opacity: .8;
}

.search-box input:focus {
  opacity: 1;
  transform: scale(1.02);
}


.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  /* max-width: 190px; */
}

.search-input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  /* background-color: #f3f3f4; */
  background-color: #fdfdfd;
  color: #0d0c22;
  transition: 0.3s ease;
}

.search-input::placeholder {
  color: #9e9ea7;
}

.search-input:focus,
.search-input:hover {
  outline: none;
  background-color: #fff;
}

.group .icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}


/* *{
  background-color: #282A3A !important;
  color: white !important;
}

.icon:hover{
color: blue;
} */